/* Header & Navigation */
.back-btn {
  padding: 10px 18px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  

  /* IMPORTANT */
  display: inline-flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  background: transparent;
  transition: 0.3s;
}

span{
  text-decoration: underline;
  color: rgb(56, 52, 52);
}

.back-btn.active {
  background: #fbfbfb;
  color: white;
  
  transform: scale(1.0);
}